In [1]:
import pandas as pd
file_path=pd.read_csv(r"C:\Users\Rohini\Downloads\us_customer_data.csv")
file_path.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold

In [2]:
file_path.isna().sum()

customer_id           0
name                  0
email                50
phone                50
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [3]:
file_path['email']=file_path['email'].fillna(file_path['name'].str.replace(' ','').str.lower()+'@unknown.com')

In [4]:
file_path.isna().sum()

customer_id           0
name                  0
email                 0
phone                50
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [5]:
file_path.loc[27]

customer_id                                                        28
name                                                     Brandon Hall
email                                         brandonhall@unknown.com
phone                                                    858-252-9573
address              8143 Robert Cove Apt. 103, Sanchezport, CO 78231
registration_date                                          2024-04-07
loyalty_status                                                   Gold
Name: 27, dtype: object

In [6]:
file_path['phone']=file_path['phone'].fillna('xxx-xxx-xxxx')
file_path['phone']=file_path['phone'].str.replace('-','')
file_path.loc[file_path['phone'].str.len()<10,'phone']='xxxxxxxxx'
file_path.head(2)
file_path.loc[444]

customer_id                                                        445
name                                                      Mallory Mann
email                                            charles11@example.net
phone                                                       8698124023
address              14758 Bautista Fords Apt. 251, Sandrachester, ...
registration_date                                           2024-10-23
loyalty_status                                                    Gold
Name: 444, dtype: object

In [7]:
file_path['phone']=file_path['phone'].str.replace(r'\D','',regex=True)
file_path['phone']=file_path['phone'].str.slice(0,11)
file_path.loc[444]

customer_id                                                        445
name                                                      Mallory Mann
email                                            charles11@example.net
phone                                                       8698124023
address              14758 Bautista Fords Apt. 251, Sandrachester, ...
registration_date                                           2024-10-23
loyalty_status                                                    Gold
Name: 444, dtype: object

In [8]:
file_path.isna().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
dtype: int64

In [9]:

file_path.to_csv('clean1.csv',index=False)

In [11]:
#2
import pandas as pd

df=pd.read_csv(r"C:\Users\Rohini\Downloads\us_customer_data.csv")

In [12]:
df.isnull().sum()

customer_id           0
name                  0
email                50
phone                50
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [13]:
df = df.drop_duplicates(subset='customer_id', keep='first')

In [14]:
df['name'] = df['name'].str.strip().str.title()

In [15]:
df['email'] = df.apply(
    lambda row: f"{row['name'].replace(' ', '').lower()}@company.com"
    if pd.isna(row['email']) else row['email'].strip().lower(),
    axis=1
)

In [16]:
df.isnull().sum()

customer_id           0
name                  0
email                 0
phone                50
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [17]:
df['phone'] = df['phone'].fillna('0000000000')  # Fill true nulls
df['phone'] = df['phone'].astype(str).str.replace(r'\D', '', regex=True)

In [18]:
df['phone'] = df['phone'].apply(
    lambda x: f"+1-{x[:3]}-{x[3:6]}-{x[6:10]}" if len(x) == 10 else "+1-000-000-0000"
)

In [19]:
df[['name', 'email', 'phone']].head()

               name                        email            phone
0     Michelle Kidd           vayala@example.net  +1-000-000-0000
1       Brad Newton  taylorcatherine@example.net  +1-000-000-0000
2      Larry Torres         dsanchez@example.net  +1-000-000-0000
3    Kimberly Price    jessicaknight@example.com  +1-000-000-0000
4  Matthew Phillips        qwilliams@example.com  +1-000-000-0000

In [20]:
df.isnull().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
dtype: int64

In [21]:
df.to_csv("clean2.csv", index=False)